layout: default.liquid
title: About Us
---
<div class="container left text">
  <p>FutureHack is one of the first hackthons that only consists of people who
  never coded or new to the hackthon community in Malaysia. By bringing
  together 100 students from various local universities to learn about coding
  and designing websites and smartphone applications by competing in a 24-hour
  hackathon.</p>
  <p>This hackathon is organized by Futurelab CampusHero and APU's
  Enterpreneurship &amp; Startup Society (ESS).</p>
</div>

<div class="container right image">
  <img src="assets/team.svg">
</div>
