layout: default.liquid
---
<div class="empty"></div>

<div id="home" class="page">
  <div class="left text color">
    <div class="center">
      <h1>14th - 15th April 2018</h1>
      <h2>Asia Pacific University</h2>
      <a class="button" href="#about">
        <p>EXPLORE</p>
      </a>
    </div>
  </div>

  <div class="right image">
    <div class="center">
      <img src="assets/coding_desk.svg">
    </div>
  </div>
</div>

<div class="title">
  <h1>About Us</h1>
</div>

<div id="about" class="page">
  <div class="left text">
    <div class="center">
      <p>FutureHack is one of the first hackathon that only consists of people
      who never coded or new to the hackthon community in Malaysia. By bringing
      together 100 students from various local universities to learn about coding
      and designing websites and smartphone applications by competing in a
      24-hour hackathon.</p>
      <p>This hackathon is organized by Futurelab CampusHero and APU's
      Enterpreneurship &amp; Startup Society (ESS).</p>
    </div>
  </div>

  <div class="right image">
    <div class="center">
      <img src="assets/team.svg">
    </div>
  </div>
</div>

<div class="title">
  <h1>Theme</h1>
</div>

<div id="theme" class="page">
  <div class="right text">
    <div class="center">
      <h2>Hacking Uni Life</h2>
      <p>As the team comprises of university students, we decided to focus on the
      theme for this year's FutureHack to be "Hacking University Life", which is
      something university students can relate.</p>
      <p>FUTUREHACK will create a comfortable and conductive environment where
      beginner-hackers can build "out of the box" prototype applications that can
      help improve a student's university life in any aspects.</p>
    </div>
  </div>

  <div class="left image">
    <div class="center">
      <img src="assets/doing_assignments.svg">
    </div>
  </div>
</div>


<div id="contact" class="page">
  <div class="center color">
    <div class="title">
      <h1>Contact Us</h1>
    </div>
    <p>Interested to contribute to spread the love of coding?</p>
    <p>Fly us an email now so we can discuss the details.</p>
    <div class="empty"></div>
    <a class="button" href="mailto:email"><p>SPONSOR US</p></a>
  </div>
</div>
