layout: default.liquid
---
<div class="empty"></div>

<div class="container left color text">
  <h1>14th - 15th April 2018</h1>
  <h2>Asia Pacific University</h2>
  <a class="button" href="/">
    <p>EXPLORE</p>
  </a>
</div>

<div class="container right image">
  <img src="assets/coding_desk.svg">
</div>
