@import 'normalize/import-now';

$primary: #66a6ff;

body {
	// overflow: hidden;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	padding: 25px;

	&.dark {
		background-color: $primary;

		img {
			filter: brightness(0) invert(1);
		}

		a {
			color: white;
		}
	}

	img {
		display: block;
		height: 50px;
	}
}

nav {
	position: absolute;
	margin: 20px;
	top: 20px;
	right: 0;
	font-weight: bold;

	a {
		padding: 1ex;
		margin-right: 2ex;
	}

	a.active {
		border-bottom: 2px solid white;
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	color: white;
	background-color: $primary;
	font-size: 1.6vw;
	padding: 2ex 2em;

	a {
		color: lightgrey;
		text-decoration: underline;
	}
}

main {
	padding: 0 5%;

	// .center {
	// 	text-align: center;
	// }

	h1.center {
		font-size: 2vw;
	}
}

/*

.left {
	float: left;
}

.right {
	float: right;
}

.container {
	margin: 0 2.5%;
	font-size: 1.5vw;
}

.image {
	width: 50%;
	top: 50%;

	img {
		max-height: 1000px;
		position: relative;
	}
}

.text {
	width: 40%;
}

.empty {
	padding: 2%;
}

*/

.page {
	display: flex;
	height: 100vh;
	vertical-align: middle;
	align-items: center;
}

.center {
	margin: auto;
}

.left { order: 1; }
.right { order: 2; }
.text { flex-grow: 4; max-width: 40%; }
.image { flex-grow: 6; max-width: 60%; }
.image img { position: relative; }

.triangle {
	position: absolute;
	width: 40%;
	margin-top: -5%;
	path {
		fill: $primary;
		stroke: $primary;
		stroke-linejoin: round;
		stroke-width: 9px;
	}
}

.button {
	display: inline-block;
	padding: 0 4ex;
	border: 2px solid $primary;
	border-radius: 5rem;
	// animation: 5s ease-in 1s;
}

.button:hover {
	color: white;
	background-color: $primary;
	animation: .3s color-change;
}

.title {
	position: absolute;
	margin-top: 8em;
	left: 0;
	right: 0;
	text-align: center;
}

@keyframes color-change {
	from { color: $primary; background-color: white; }
	to { color: white; background-color: $primary; }
}

.color,
a {
	text-decoration: none;
	color: $primary;
}

