layout: default.liquid
title: Theme
---
<div class="container right text">
  <h2>Hacking Uni Life</h2>
  <p>As the team comprises of university students, we decided to focus on the
  theme for this year's FutureHack to be "Hacking University Life", which is
  something university students can relate.</p>
  <p>FUTUREHACK will create a comfortable and conductive environment where
  beginner-hackers can build "out of the box" prototype applications that can
  help improve a student's university life in any aspects.</p>
</div>

<div class="container left image">
  <img src="assets/doing_assignments.svg">
</div>
